body {
    font-family: Arial, sans-serif;

}
 .margen-superior{
            margin-top: 140px;
        }

.calificacion-form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.star-calificacion {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.star-calificacion input {
    display: none;
}

.star-calificacion label {
    font-size: 2em;
    color: #ccc;
    cursor: pointer;
}

.star-calificacion input:checked ~ label,
.star-calificacion input:checked ~ label ~ label {
    color: #f5b301;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
