.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

h1{
	color:#394A8F;
}

h2{
	color:#394A8F;
}

h1.title {
    color: #f9f9f9!important;
}

h5.subtitle {
    color: #f1f1f1!important;
}

main {
    margin-top: 7rem;
}

.overlay {
    padding: 6rem 0 300px;
    background: rgb(43,40,93);
    background: linear-gradient(34deg, rgba(43,40,93,1) 15%, rgba(57,74,143,1) 74%);
    border-radius: 0 0 15px 15px;
}

.box {
    -webkit-box-shadow: 0px 0px 30px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 30px 0 rgba(0, 0, 0, 0.1);
    padding: 30px 30px 30px;
    background-color: #ffffff;
    margin: 50px 0;
    border-radius: 5px;
}

.main-wrapper {
    margin-top: -225px;
}

.navbar-brand{
    margin:0 2rem;
}

form label{
    color: #555759;
}

#container-go-reserva{
    display: flex;
    align-items: end;
    justify-content: flex-end;
}

#container-go-reserva button{
    background: #394A8F;
    color: white;
}

.btn-pdf{
    background-color: #64CAED;
    margin-right: 5px;
}
.reset-filter{
    color: #000!important;
}
#logo{
    width:4rem;
}
.navbar  a{
    color: #394A8F!important;
    font-weight: 500;
}
.navbar .btn-buscar-estacionamiento, .btn-login{
    border-radius: 20px;
    background-color: #394A8F;
    color: #fff!important;
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.btn-login:hover{
    background-color: #fff!important;
    color: #394A8F!important;
}
