body {
    max-width: 100vw;
}

.slick-prev:before,
.slick-next:before {
    color:#000000!important;
}

h1 {
    color: #f9f9f9;
}

h2, h3, h4, h5 {
    color: #394A8F;
}

a {
    color: #2b285d;
}

.reservas-activas {
    margin: 2rem 0 2rem 0;
}

.reservas-vacias {
    padding: 5rem;
    margin-top: 2rem;
    background-color: #2b285d15;
    border: 2px dashed #2b285d50;
    border-radius: 10px;
}

.status-indicator {
    color: white;
    padding: 5px 25px;
    border-radius: 10px;
    font-weight: 700;
}

.status-indicator.confirmada {
    background-color: #ffa500a3;
    box-shadow: 0px 0px 5px 0px #ffa500a3;
}

.status-indicator.pagada {
    background-color: #1aa11a9e;
    box-shadow: 0px 0px 5px 0px #1aa11a9e;
}

.status-indicator .activada {
    background-color: #394A8F;
    box-shadow: 0px 0px 5px 0px #394A8F;
}


-- old css properties

.pendiente {
    color: orange;
}
.confirmado {
    color: blue;
}
.pagado {
    color: green;
}
.cancelado {
    color: red;
}

.botonCancelarReserva{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.botonCancelarReserva .infoBotonCancelarReserva .infoBotonPagarReserva{
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Posiciona el tooltip arriba del botón */
    left: 50%;
    margin-left: -80px;
    opacity: 0;
    transition: opacity 0.5s;
}

.botonCancelarReserva:hover .infoBotonCancelarReserva .infoBotonPagarReserva {
    visibility: visible;
    opacity: 1;
}

.btnreserva{
    color : white;
    --bs-btn-color: #000;
    --bs-btn-bg: #394A8F;
    --bs-btn-border-color: #394A8F;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: white;
    --bs-btn-hover-border-color: #394A8F;
    --bs-btn-focus-shadow-rgb: 11, 172, 204;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: white;
    --bs-btn-active-border-color: white;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #394A8F;
    --bs-btn-disabled-border-color: #394A8F;
    margin-bottom: 5px;
}



