<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Web Garage</title>

        <!-- Boostrap core css -->
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

        <!-- custom style -->
        <link rel="stylesheet" th:href="@{/css/main.css}"/>
        <script src="https://kit.fontawesome.com/7c7d2d5fd7.js" crossorigin="anonymous"></script>

        <th:block th:insert="~{::propiedadesAdicionales}"/>
    </head>

    <body>

        <div th:fragment="header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/"><img src="/img/navbar/logo.png" alt="isotipo de la marca" id="logo"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div th:if="${#request.requestURI != '/login'}">
                        <div th:if="${session.ID == null}">
                            <a th:href="@{'/login'}" type="button" class="btn btn-buscar-estacionamiento">Ingresar</a>
                        </div>
                        <div th:if="${session.ID != null}">
                            <a th:href="@{'/reservas/listar'}" type="button" class="btn ">Ver Reservas</a>
                            <a th:href="@{'/cerrar-sesion'}" type="button" class="btn ">Cerrar Sesion</a>
                        </div>
                    </div>


                </div>
            </nav>
        </div>


        <div th:fragment="footer">
            <script th:src="@{/webjars/popper.js/2.9.2/umd/popper.min.js}"></script>
            <script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}"></script>
        </div>
    </body>
</html>