<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Taller Web I</title>

        <!-- Boostrap core css -->
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

        <!-- custom style -->
        <link rel="stylesheet" th:href="@{/css/main.css}"/>

        <th:block th:insert="~{::propiedadesAdicionales}"/>
    </head>

    <body>

        <div th:fragment="header">
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">Web Garage</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div th:if="${session.ID == null}">
                        <a th:href="@{'/login'}" type="button" class="btn btn-buscar-estacionamiento">Ingresar</a>
                    </div>
                    <div th:if="${session.ID != null}">
                        <a th:href="@{'/reservas/listar'}" type="button" class="btn ">Ver Reservas</a>
                        <a th:href="@{'/cerrar-sesion'}" type="button" class="btn ">Cerrar Sesion</a>
                    </div>

                </div>
            </nav>
        </div>


        <div th:fragment="footer">

            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
            <script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>

        </div>
    </body>
</html>