<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layouts/default.html :: head">
        <th:block th:fragment="propiedadesAdicionales"></th:block>
    </head>
    <style>
        .card h5, .card h6, .card .text-gray{
            color: #26282a;
        }
    </style>

    <body>
        <div th:replace="layouts/default.html :: nav"></div>

        <main role="main" class="container">
            <div class="container">
                <div class="row my-4">
                    <h1>¿Deseas confirmar tu reserva?</h1>
                </div>

                <div class="row">
                    <div class="card col-12">
                        <div class="card-body">
                            <h4 style="color: #394A8F">Detalles de la reserva:</h4>
                            <h5 class="card-title text-muted">Garage <span th:text="${garage.getNombre()}"></span>  en la fecha:  <span th:text="${reserva.getDia()}"></span></h5>
                            <h6 class="card-subtitle mb-2 text-muted">Horario de inicio: <span th:text="${reserva.getHorarioInicio()}"></span> - Horario de finalización:<span th:text="${reserva.getHorarioFin()}"></span></h6>
                            <div class="selection_tipo_vehiculo d-flex w-100 text-muted">
                                <p class="text-gray">Tipo Vehículo</p>
                                <div class="unselected selection active">
                                    <i class="fas" th:classappend="${tipoVehiculo.icono}"></i>
                                    <p th:text="${tipoVehiculo.descripcion}"></p>
                                </div>
                            </div>
                            <div>
                                <p class="text-gray fw-bolder">Precio Total de la reserva: $<span th:text="${reserva.getPrecio()}"></span></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <p th:if="${error != null}" class="alert alert-danger mt-5" th:text="${error}">
                    </div>
                </div>
            </div>

            <form class="d-flex justify-content-end" action="#" th:action="@{save}" method="POST" th:object="${reserva}">
                <input type="hidden" th:field="*{garageId}">
                <input type="hidden" th:field="*{userId}">
                <input type="hidden" th:field="*{dia}">
                <input type="hidden" th:field="*{horarioInicio}">
                <input type="hidden" th:field="*{horarioFin}">
                <input type="hidden" th:field="*{garageTipoVehiculoId}">
                <input type="hidden" th:field="*{precio}">
                <input type="hidden" th:field="*{estado}">


                <div class="d-flex justify-content-between w-100 my-3">
                    <div>
                        <a type="button" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" class="btn btn-danger">Cancelar</a>
                    </div>
                    <div>
                        <a type="button" data-bs-toggle="modal" data-bs-target="#confirmEditModal" class="btn btn-warning mx-3">Modificar</a>

                        <button type="submit" name="submit" class="btn btn-success">Confirmar</button>
                    </div>
                </div>

            </form>

        </main>

        <!-- Modal de confirmación de cancelación -->
        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="confirmDeleteModalLabel">Confirmar cancelación</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ¿Estás seguro de que deseas cancelar la reserva?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal">Cancelar</button>
                        <a class="btn btn-danger align-content-end" th:href="@{'/reservas/listar'}">Confirmar cancelación</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal de confirmación de cancelación -->
        <div class="modal fade" id="confirmEditModal" tabindex="-1" aria-labelledby="confirmEditModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="confirmEditModalLabel">Modificar Reserva</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ¿Estás seguro de que deseas modificar la reserva?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal">Cancelar</button>
                        <a class="btn btn-warning align-content-end" th:href="@{'/reservas/start/' + ${garage.id}}">Modificar</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Boostrap core js -->
        <div th:replace="layouts/default.html :: footer"></div>
    </body>
</html>