<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layouts/default.html :: head">
        <th:block th:fragment="propiedadesAdicionales"></th:block>
    </head>

    <body>
        <div th:replace="layouts/default.html :: nav"></div>

        <main role="main" class="container">
            <div class="container">
                <div class="row">
                    <h1>¿Deseas confirmar tu reserva?</h1>
                </div>
                <div class="row">
                    <h2>Garage: <span th:text="${garage.getNombre()}"></span></h2>
                    <h2>Fecha: <span th:text="${reserva.getDia()}"></span></h2>
                    <h2>Hora de ingreso:  <span th:text="${reserva.getHorarioInicio()}"></span></h2>
                    <h2>Hora de egreso:  <span th:text="${reserva.getHorarioFin()}"></span></h2>
                </div>

                <div class="row">
                    <div class="col-4">
                        <p th:if="${error != null}" class="alert alert-danger mt-5" th:text="${error}">
                    </div>
                </div>
            </div>

            <form action="#" th:action="@{save}" method="POST" th:object="${reserva}">
                <input type="hidden" th:field="*{garageId}">
                <input type="hidden" th:field="*{userId}">
                <input type="hidden" th:field="*{dia}">
                <input type="hidden" th:field="*{horarioInicio}">
                <input type="hidden" th:field="*{horarioFin}">

                <button type="submit" name="submit" class="btn btn-success">Confirmar</button>
            </form>


            <a th:href="@{'/pago/formulario-pago'}" class="btn btn-danger">Ir a Pago</a>
        </main>

        <!-- Boostrap core js -->
        <script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
    </body>
</html>