<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="layouts/default.html :: head">

        <th:block th:fragment="propiedadesAdicionales">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/card/2.5.0/card.min.css">
            <link rel="stylesheet" th:href="@{/css/formulario-pago.css}"/>
        </th:block>
    </head>

    <body class="body">

        <div th:replace="layouts/default.html :: nav"></div>

        <div class="payment-form margen-superior">
            <h2>Pagar nueva reserva</h2>
            <div id="card-wrapper"></div>

            <form id="payment-form" action="#" th:action="@{/pago/validar}" method="POST" th:object="${pagoData}">
                <div class="form-group">
                    <label for="card-name">Nombre en la Tarjeta</label>
                    <input th:field="*{titularTarjeta}" type="text" id="card-name"  required>
                </div>
                <div class="form-group">
                    <label for="card-number">Número de la Tarjeta</label>
                    <input th:field="*{numeroTarjeta}" type="text" id="card-number"required>
                </div>
                <div class="form-group">
                    <label for="card-expiry">Fecha de Expiración</label>
                    <input th:field="*{fechaVencimiento}" type="text" id="card-expiry"
                        placeholder="MM/YY" required>
                </div>
                <div class="form-group">
                    <label for="card-cvc">Código CVV</label>
                    <input th:field="*{cvv}" type="text" id="card-cvc"  required>
                </div>

                <!--<input  type="hidden" th:field="${reserva.getId()}">-->
                <input type="hidden" th:field="*{idReserva}" th:value="${pagoData.idReserva}">
                <div class="d-flex justify-content-between w-100 my-3 align-items-center">
                    <div>
                        <a th:href="@{'/reservas/listar'}" class="btn btn-outline-dark btn-light">Pagar luego</a>
                    </div>
                    <div>
                        <button type="submit" class="submit-btn mt-0">Pagar</button>
                    </div>
                </div>
                <p th:if="${error != null}" class="alert alert-danger" th:text="'Error ' + ${error}"></p>


            </form>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/card/2.5.0/card.min.js"></script>
        <script>
            new Card({
                form: '#payment-form',
                container: '#card-wrapper',
                formSelectors: {
                    numberInput: 'input[id="card-number"]',
                    expiryInput: 'input[id="card-expiry"]',
                    cvcInput: 'input[id="card-cvc"]',
                    nameInput: 'input[id="card-name"]'
                },
                messages: {
                    validDate: 'valid\ndate',
                    monthYear: 'mm/yyyy',
                },
                placeholders: {
                    number: '•••• •••• •••• ••••',
                    name: 'Nombre Completo',
                    expiry: '••/••',
                    cvc: '•••'
                }
            });
        </script>
    </body>
</html>