<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="layouts/default.html :: head">

        <th:block th:fragment="propiedadesAdicionales">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/card/2.5.0/card.min.css">
            <link rel="stylesheet" th:href="@{/css/formulario-pago.css}"/>
        </th:block>
    </head>

    <body class="body">

        <div th:replace="layouts/default.html :: nav"></div>

        <div class="payment-form margen-superior">
            <h2>Pagar nueva reserva</h2>
            <div id="card-wrapper"></div>

        <form id="payment-form" action="#" th:action="@{/pago/validar}" method="POST" th:object="${pagoData}">
            <div class="form-group">
                <label for="card-name">Nombre en la Tarjeta</label>
                <input th:field="*{titularTarjeta}" type="text" id="card-name" maxlength="20" oninput="soloLetras(event)" required >
            </div>
            <div class="form-group">
                <label for="card-number">Número de la Tarjeta</label>
                <input th:field="*{numeroTarjeta}" type="text" id="card-number" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="card-expiry">Fecha de Expiración</label>
                <input th:field="*{fechaVencimiento}" type="text" id="card-expiry" placeholder="MM/YY" oninput="formatearFecha(event); validarFechaVencimiento(event)" required>
            </div>
            <div class="form-group">
                <label for="card-cvc">Código CVV</label>
                <input th:field="*{cvv}" type="text" id="card-cvc" class="form-control" required>
            </div>

            <input type="hidden" th:field="*{idReserva}" th:value="${pagoData.idReserva}">
            <div class="d-flex justify-content-between w-100 my-3 align-items-center">
                <div>
                    <a th:href="@{'/reservas/listar'}" class="btn btn-outline-dark btn-light">Pagar luego</a>
                </div>
                <div>
                    <button type="submit" class="submit-btn mt-0 btn btn-primary">Pagar</button>
                </div>
            </div>
            <p th:if="${error != null}" class="alert alert-danger" th:text="'Error ' + ${error}"></p>

        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/card/2.5.0/card.min.js"></script>
    <script>
        new Card({
            form: '#payment-form',
            container: '#card-wrapper',
            formSelectors: {
                numberInput: 'input[id="card-number"]',
                expiryInput: 'input[id="card-expiry"]',
                cvcInput: 'input[id="card-cvc"]',
                nameInput: 'input[id="card-name"]'
            },
            messages: {
                validDate: 'valid\ndate',
                monthYear: 'mm/yyyy',
            },
            placeholders: {
                number: '•••• •••• •••• ••••',
                name: 'Nombre Completo',
                expiry: '••/••',
                cvc: '•••'
            }
        });

        function soloLetras(event) {
            const input = event.target;
            let valor = input.value;
            // Expresión regular para permitir solo letras y espacios
            const regex = /^[a-zA-Z\s]*$/;

            if (!regex.test(valor)) {
                // Elimina los caracteres no válidos
                valor = valor.replace(/[^a-zA-Z\s]/g, '');
            }

            // Elimina espacios en blanco al inicio del campo
            valor = valor.replace(/^\s+/, '');

            input.value = valor;
        }

        function validarFechaVencimiento(event) {
            const input = event.target;
            let valor = input.value;

            // Agregar automáticamente la barra
            if (valor.length === 2 && !valor.includes('/')) {
                valor = valor + '/';
            }
            input.value = valor;

            // Expresión regular para validar el formato MM/YY
            const regex = /^(0[1-9]|1[0-2])\/\d{2}$/;

            if (!regex.test(valor)) {
                input.setCustomValidity('Mes inválido, reingresar fecha.');
                return;
            } else {
                input.setCustomValidity('');
            }

            // Separar el mes y el año
            const partes = valor.split('/');
            const mes = parseInt(partes[0], 10);
            const año = parseInt('20' + partes[1], 10);

            // Obtener la fecha actual
            const fechaActual = new Date();
            const mesActual = fechaActual.getMonth() + 1;
            const añoActual = fechaActual.getFullYear();

            // Verificar si la fecha ingresada ya pasó
            if (año < añoActual || (año === añoActual && mes < mesActual)) {
                input.setCustomValidity('Tarjeta vencida.');
            } else {
                input.setCustomValidity('');
            }
        }

        function formatearFecha(event) {
            const input = event.target;
            let valor = input.value.replace(/\D/g, ''); // Eliminar todos los caracteres no numéricos

            if (valor.length > 2) {
                valor = valor.substring(0, 2) + '/' + valor.substring(2, 4);
            }

            input.value = valor;
        }

    </script>

</body>

</html>