<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layouts/default.html :: head">
        <th:block th:fragment="propiedadesAdicionales">
            <link rel="stylesheet" th:href="@{/css/home.css}"/>
            <link rel="stylesheet" th:href="@{/css/listar-garages.css}"/>
        </th:block>
    </head>
    <body>
        <div th:replace="layouts/default.html :: nav"></div>

        <div class="overlay"></div>

        <div class="main-wrapper">
            <div class="container">
                <h1 class="title">Estacionamientos</h1>
                <h5 class="subtitle">¡Buscá los mejores estacionamientos de tu zona!</h5>

<!-- PROXIMAMENTE BUSCADOR ACA
                <div class="filtros-container">
                    <div th:class="col-2" th:if="${!#lists.isEmpty(garages)}">
                        <hr/>
                    </div>
                </div>
-->

                <div class="filtros-container">
                    <div class="row" th:if="${!#lists.isEmpty(garages)}">
                        <div th:class="col-2" th:if="${!#lists.isEmpty(garages)}">
                            <form id="tipoVehiculoForm" action="#" th:action="@{/garages/listado}" method="get">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="fs-6 mb-0">Filtrar por:</h5>
                                    <a th:if="${tipoVehiculoSeleccionado != null  || ordernarPorCalificacion}" th:class="reset-filter" th:href="@{'/garages/listado?page=' + ${0} + '&size=' + ${pageSize} + '&tipoVehiculo=null' + '&ordernarPorCalificacion=' + 'false'}">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                                           th:checked="${ordernarPorCalificacion == true}" onchange="submitForm()">
                                    <label class="form-check-label" for="flexSwitchCheckChecked">Ordenar por calificación</label>
                                </div>
                                <div class="selection_tipo_vehiculo d-flex flex-column w-100" id="selection-filter">
                                    <div class="unselected selection"
                                         th:classappend="${tipoVehiculoItem.id == tipoVehiculoSeleccionado ? 'active' : ''}"
                                         th:each="tipoVehiculoItem : ${tipoVehiculos}">
                                        <!-- Etiqueta para el ícono y descripción -->
                                        <label th:for="${tipoVehiculoItem.id}">
                                            <i class="fas" th:classappend="${tipoVehiculoItem.icono}"></i>
                                            <p class="ms-2" th:text="${tipoVehiculoItem.descripcion}"></p>
                                        </label>
                                        <!-- Input radio para seleccionar el tipo de vehículo -->
                                        <input type="radio"
                                               th:id="${tipoVehiculoItem.id}"
                                               th:name="tipoVehiculo"
                                               th:value="${tipoVehiculoItem.id}"
                                               onchange="submitForm()" />
                                    </div>
                                    <input type="hidden" id="currentPage" name="page" th:value="1"/>
                                    <input type="hidden" name="size" th:value="${pageSize}"/>
                                    <input type="hidden" name="ordernarPorCalificacion" id="ordernarPorCalificacion" th:value="${ordernarPorCalificacion}"/>

                                </div>
                            </form>
                        </div>

                        <div class="col-10" th:if="${!#lists.isEmpty(garages)}">
                            <div class="row">
                                <div class="col-3 my-3" th:each="garage : ${garages}">
                                    <div class="card grid-item round garage-card">
                                        <img class="card-img-top round-img" th:src="@{'/img/garages/' + ${garage.rutaFoto}}" alt="imagen-garage">
                                        <div class="card-body">
                                            <h5 class="card-title" th:text="${garage.nombre}"></h5>
                                            <p class="calification" th:if="${garage.getPromedio() != null}" th:with="promedio=${garage.getPromedio()}">
                                                <span th:each="i : ${#numbers.sequence(1, 5)}"
                                                      th:class="star"
                                                      th:classappend="|${i <= T(java.lang.Math).floor(promedio) ? 'star-filled' : ''} ${i - 1 == T(java.lang.Math).floor(promedio) && promedio % 1.0 >= 0.5 ? 'star-half' : ''} ${i > T(java.lang.Math).floor(promedio) ? 'star-gray' : ''}|">
                                                    &#9733;
                                                </span>
                                            </p>
                                            <p class="calification" th:unless="${garage.getPromedio() != null}">
                                                <span class="no-calification">Sin calificaciones</span>
                                            </p>
                                            <p class="card-text"><i class="far fa-clock"></i> <span th:text="${garage.horarioApertura}"></span>Hs. a <span th:text="${garage.horarioCierre}"></span>Hs.</p>
                                            <a th:href="@{'/reservas/start/' + ${garage.id}}" class="btn btn-reserva">Reservar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-5" th:if="${!#lists.isEmpty(garages)}">
                        <nav class="w-100 d-flex justify-content-center">
                            <ul class="pagination justify-content-end">
                                <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled' : ''">
                                    <a class="page-link" th:href="@{'/garages/listado?page=' + ${currentPage - 1} + '&size=' + ${pageSize} + '&tipoVehiculo=' + ${tipoVehiculoSeleccionado} + '&ordernarPorCalificacion=' + ${ordernarPorCalificacion}}">Anterior</a>
                                </li>

                                <li class="page-item" th:each="pageNumber : ${pageNumbers}"
                                    th:classappend="${pageNumber == currentPage} ? 'active' : ''">
                                    <a class="page-link" th:href="@{'/garages/listado?page=' + ${pageNumber} + '&size=' + ${pageSize} + '&tipoVehiculo=' + ${tipoVehiculoSeleccionado} + '&ordernarPorCalificacion=' + ${ordernarPorCalificacion}}" th:text="${pageNumber}"></a>
                                </li>

                                <li class="page-item" th:classappend="${currentPage == pageNumbers.size()} ? 'disabled' : ''">
                                    <a class="page-link" th:href="@{'/garages/listado?page=' + ${currentPage + 1} + '&size=' + ${pageSize} + '&tipoVehiculo=' + ${tipoVehiculoSeleccionado} + '&ordernarPorCalificacion=' + ${ordernarPorCalificacion}}">Siguiente</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <div class="row" th:if="${#lists.isEmpty(garages)}">
                        <!-- mensaje si no hay garages -->
                        <div th:class="col">
                            <p class="text-center">No hay estacionamientos disponibles en este momento, intente nuevamente más tarde.</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>



        <div th:replace="layouts/default.html :: footer"></div>

        <script>
            function submitForm() {
                var isChecked = document.getElementById("flexSwitchCheckChecked").checked;
                document.getElementById("ordernarPorCalificacion").value = isChecked ? 'true' : 'false';
                document.getElementById("currentPage").value = 1;
                document.getElementById("tipoVehiculoForm").submit();
            }
        </script>
    </body>
</html>