<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layouts/default.html :: head">
        <th:block th:fragment="propiedadesAdicionales">
            <link rel="stylesheet" th:href="@{/css/home.css}"/>
        </th:block>
    </head>
    <body>
        <div th:replace="layouts/default.html :: nav"></div>

        <main role="main" class="container">
            <h1>Estacionamientos </h1>
            <p> Contamos con estacionamientos en toda la Ciudad para que solo te preocupes de #disfrutar!</p>

            <!-- Mostrar mensaje si no hay garajes -->
            <div th:if="${#lists.isEmpty(garages)}">
                <p class="text-center">No hay estacionamientos disponibles en este momento, intente nuevamente más tarde.</p>
            </div>
            <!-- Mostrar garajes si existen -->
            <div th:if="${!#lists.isEmpty(garages)}">
                <div class="row justify-content-between">
                    <div class="col-3 my-3" th:each="garage : ${garages}">
                        <div class="card grid-item round">
                            <img class="card-img-top round-img" th:src="@{'/img/garages/' + ${garage.rutaFoto}}" alt="imagen-garage">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${garage.nombre}"></h5>
                                <p class="card-text">Podés reservar de <span th:text="${garage.horarioApertura}"></span>Hs. a <span th:text="${garage.horarioCierre}"></span>Hs.</p>
                                <a th:href="@{'/reservas/start/' + ${garage.id}}" class="btn btn-reserva">Reservar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <nav class="w-100 d-flex justify-content-center mt-5">
                        <ul class="pagination justify-content-end">
                            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled' : ''">
                                <a class="page-link" th:href="@{'/garages/listado/?page=' + ${currentPage - 1} + '&size=' + ${pageSize}}">Anterior</a>
                            </li>

                            <li class="page-item" th:each="pageNumber : ${pageNumbers}"
                                th:classappend="${pageNumber == currentPage} ? 'active' : ''">
                                <a class="page-link" th:href="@{'/garages/listado/?page=' + ${pageNumber} + '&size=' + ${pageSize}}" th:text="${pageNumber}"></a>
                            </li>

                            <li class="page-item" th:classappend="${currentPage == pageNumbers.size()} ? 'disabled' : ''">
                                <a class="page-link" th:href="@{'/garages/listado/?page=' + ${currentPage + 1} + '&size=' + ${pageSize}}">Siguiente</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </main>

        <div th:replace="layouts/default.html :: footer"></div>
    </body>
</html>