<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/default.html :: head">
    <th:block th:fragment="propiedadesAdicionales"></th:block>
</head>

<body>
<div th:replace="layouts/default.html :: nav"></div>

<main role="main" class="container">
    <div class="container">
        <div class="row">

            <h1>Bienvenido <span th:text="${username}"></span>! estas son tus reservas: </h1>
            <h2 >Garage: <span th:text="${garage.getNombre()}"></span></h2>

                <table style="border:1px solid black;text-align:center">
                    <thead style="border:1px solid black">
                    <tr >
                        <th style="border:1px solid black">Fecha de reserva</th>
                        <th style="border:1px solid black">Hora de inicio</th>
                        <th style="border:1px solid black">Hora de finalización</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="reserva: ${reservas}">
                        <td style="border:1px solid black" th:text="${reserva.getDia()}"></td>
                        <td style="border:1px solid black" th:text="${reserva.getHorarioInicio()} + ' hs.'"></td>
                        <td style="border:1px solid black" th:text="${reserva.getHorarioFin()} + ' hs.'"></td>

                    </tr>
                    </tbody>
                </table>
        </div>
        <div>
            <a class="btn btn-info btn-lg" href="/">Volver</a>
        </div>
    </div>
</main>

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>