<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/default.html :: head">
    <th:block th:fragment="propiedadesAdicionales">
        <link rel="stylesheet" th:href="@{/css/my-reservation.css}"/>
    </th:block>


</head>

<body>
<div th:replace="layouts/default.html :: nav"></div>

<main role="main" class="container">
    <div class="container">
        <div>
            <h1>Bienvenido <span th:text="${username}"></span>! </h1>
            <div class="d-flex justify-content-between align-items-start">
                <h2><span th:text="${ !reservasActivas.isEmpty() ? 'estas son tus reservas:' : 'Aun no tenés reservas. ¡Reserva ya!'}"></span> </h2> <a class="btn btnreserva btn-info btn-lg" href="/garages/listado/">Nueva Reserva</a>
            </div>
        </div>
        <!--tarjetas de reservas activas-->
        <div class="row">
            <div th:each="reserva : ${reservasActivas}"  class="col-3 my-3" th:if="${reserva.getEstado().getDescripcion()!='Cancelado'}">
                <div class="card grid-item round">
                    <img class="card-img-top round-img" src="img/home/bombonera.jpg" alt="">
                    <div class="card-body mx-2">
                        <h5 class="card-title" th:text="${reserva.getDia()}"></h5>
                        <h4 class="card-title" th:text="${reserva.getGarage().getNombre()}"></h4>
                        <p class="card-text">Esta reservado de <span th:text="${reserva.getHorarioInicio()}"></span>Hs. a <span th:text="${reserva.getHorarioFin()}">Hs.</span>Hs.</p>
                        <div class="w-100">
                            <div class="d-flex justify-content-end botonCancelarReserva" th:if="${reserva.getEstado().getDescripcion() != 'Cancelado'}" >
                                <div th:if="${reserva.getEstado().getDescripcion() == 'Confirmado'}">
                                    <a type="button"  data-bs-toggle="tooltip" title="Realizar Pago" th:href="@{'/pago/formulario-pago/' + ${reserva.id}}" class="btn align-content-end btn-pago btn-success me-1" ><i class="fas fa-credit-card"></i></a>
                                  <!--  <a type="button"  data-bs-toggle="tooltip" title="Detener Reserva" th:href="@{'/garages/calificar/' + ${reserva.getGarage().getId()}}" class="btn align-content-end btn-pago btn-warning me-1" ><i class="fas fa-stop-circle"></i></a>-->
                                </div>
                                <button type="button" class="btn btn-danger align-content-end" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"  th:attr="data-id=${reserva.getId()}">
                                    <span type="button" data-bs-toggle="tooltip" title="Haz click aca para cancelar la reserva">
                                        <i class="far fa-trash-alt"></i>
                                    </span>
                                </button>
                                <a class="btn btn-outline-secondary" th:href="@{'/generate-pdf?reservaID='+ ${reserva.getId()}}"><i class="fa fa-print"></i></a>
                                <div class="d-flex justify-content-end botonCancelarReserva" th:if="${reserva.getEstado().getDescripcion() == 'Pagado'}" >

                                    <a type="button"  data-bs-toggle="tooltip" title="Detener Reserva" th:href="@{'/garages/calificar/' + ${reserva.getGarage().getId()}}" class="btn align-content-end btn-pago btn-warning me-1" ><i class="fas fa-stop-circle"></i></a>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--tarjetas de reservas Vencidas-->
        <div class="row">
            <h3 th:class="align-content-center" th:if="${!reservasVencidas.isEmpty()}"> Reservas Expiradas</h3>
            <div th:each="reserva : ${reservasVencidas}" class="col-3 my-3" >
                <div th:class="${reserva.getEstado().getDescripcion() == 'Vencido' ? 'card grid-item round vencida' : 'card grid-item round'}">
                     <img class="card-img-top round-img" src="img/home/bombonera.jpg" alt="">
                       <div class="card-body mx-2">
                           <h5 class="card-title" th:text="${reserva.getDia()}"></h5>
                           <h4 class="card-title" th:text="${reserva.getGarage().getNombre()}"></h4>
                           <p class="card-text"> Reserva Expirada</p>

                           <a class="btn btn-outline-secondary" th:href="@{'/generate-pdf?reservaID='+ ${reserva.getId()}}"><i class="fa fa-print"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

   <!-- Modal de confirmación de eliminación -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="confirmDeleteModalLabel">Confirmar cancelación</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas cancelar la reserva Id: <span id="idReserva"></span>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal">Cancelar</button>
                <a class="btn btn-danger align-content-end" id="confirmDeleteButton">Eliminar</a>
            </div>
        </div>
    </div>
</div>

<div th:replace="layouts/default.html :: footer"></div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let modal = document.getElementById('confirmDeleteModal');
            modal.addEventListener('show.bs.modal', function (event) {
                let button = event.relatedTarget;
                let reservaId = button.getAttribute('data-id');
                let confirmButton = document.querySelector('#confirmDeleteButton');
                let idReserva = document.querySelector('#idReserva');
                idReserva.innerText = reservaId;
                confirmButton.href = '/reservas/cancelar/' + reservaId;
            });
        });

        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
</body>

</html>