<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/default.html :: head">
  <th:block th:fragment="propiedadesAdicionales"></th:block>
</head>

<body>

<div th:replace="layouts/default.html :: nav"></div>




    <div class="container" style="margin-top:9rem">
        <div class="card">
            <div class="card-body text-center">
                <h1 class="card-title text-success">¡Pago Exitoso!</h1>
                <p class="card-text">Gracias por tu pago. Tu transacción ha sido completada con éxito.</p>
                <h2 class="text-info">Monto pagado: $<span th:text="${reserva.getPrecio()}"></span></h2>
                <hr>
                <p class="card-text">Número de transacción: <strong th:text="${#dates.format(#dates.createNow(), 'yyyyMMddHHmmss')}"></strong></p>
                <p class="card-text">Recibiste el detalle de tu reserva por mail.</p>
                <div class="d-flex align-items-center justify-content-center mt-3">
                    <a href="/#estacionamientos" class="btn btn-primary mx-2">Volver a la Página Principal</a>
                    <a class="btn btn-outline-secondary" th:href="@{'/generate-pdf?reservaID='+ ${reserva.getId()}}"><i class="fa fa-print"></i></a>
                </div>
            </div>
        </div>
    </div>








<div th:replace="layouts/default.html :: footer"></div>
</body>
</html>