<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="layouts/default.html :: head">
        <th:block th:fragment="propiedadesAdicionales">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
            <link rel="stylesheet" th:href="@{https://unpkg.com/leaflet@1.9.4/dist/leaflet.css}" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
            <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

            <link rel="stylesheet" type="text/css" th:href="@{/css/crear-reserva.css}"/>
        </th:block>
    </head>

    <body>

        <div th:replace="layouts/default.html :: nav"></div>

        <div class="overlay"></div>

        <div class="main-wrapper">

            <div class="container">
                <div class="row justify-content-between">
                    <div class="col">
                        <h1 class="title"><span th:text="${garage.nombre}"></span></h1>
                        <h5 class="subtitle">Reservá tu estacionamiento en el garage <span th:text="${garage.nombre}"></span></h5>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row justify-content-center">

                    <div class="col-6">
                        <div class="box">
                            <div id="map"></div>
                        </div>
                        <div class="box">
                            <h3>Opiniones sobre el garage</h3>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="box">
                            <h3>¡Empezá ahora una nueva reserva!</h3>
                            <form action="#" th:action="@{../confirm}" method="POST" th:object="${reserva}">

                                <input type="hidden" th:field="*{garageId}">
                                <input type="hidden" th:field="*{userId}">
                                <input type="hidden" th:field="*{garageTipoVehiculoId}" name="garage_tipo_vehiculo" id="tipo_vehiculo" />

                                <div class="row step-form selection_tipo_vehiculo">

                                    <div class="d-flex align-items-center my-3">
                                        <div class="d-flex align-items-center">
                                            <div class="d-flex align-items-center">
                                                <span class="d-flex justify-content-center align-items-center me-3 rounded-circle text-white step">1</span>
                                                <span class="step-text">¿Que vehículo quieres estacionar?</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">


                                    <div class="unselected selection col justify-content-around align-items-center"
                                         th:classappend="${garageTipoVehiculoDtoItem.habilitado ? '' : 'disabled'}"
                                         th:attrappend="data-toggle=${garageTipoVehiculoDtoItem.habilitado ? '' : 'tooltip'}, data-placement=${garageTipoVehiculoDtoItem.habilitado ? '': 'top'}, title=${garageTipoVehiculoDtoItem.habilitado ? '': 'El garage no tiene disponibilidad para este tipo de vehiculo'}"
                                         th:id="${garageTipoVehiculoDtoItem.idGarageTipoVehiculo}"
                                         th:each="garageTipoVehiculoDtoItem : ${garageTipoVehiculoDto}"
                                    >
                                        <i class="fas icon-vehicle" th:classappend="${garageTipoVehiculoDtoItem.icono}"></i>
                                        <div>
                                            <p th:text="${garageTipoVehiculoDtoItem.descripcion}"></p>
                                            <p th:if="${garageTipoVehiculoDtoItem.habilitado == true}" class="text-precio">
                                                Precio min: $<span th:text="${garageTipoVehiculoDtoItem.precio}"></span>
                                            </p>
                                        </div>

                                    </div>
                                    </div>

                                </div>

                                <div class="row step-form ">

                                    <div class="col-12 d-none mt-2" id="container_date_picker_from">
                                        <div class="d-flex align-items-center my-3">
                                            <div class="d-flex align-items-center">
                                                <div class="d-flex align-items-center">
                                                    <span class="d-flex justify-content-center align-items-center me-3 rounded-circle text-white step">2</span>
                                                    <span class="step-text">¿En que día quieres reservar?</span>
                                                </div>
                                            </div>
                                        </div>

                                        <input type="text" id="datepicker_from" th:field="*{dia}">
                                    </div>
                                </div>

                                <div class="row step-form ">
                                    <div class="col">
                                        <div class="d-none row" id="container_hour_picker">

                                            <div class="d-flex align-items-center my-3">
                                                <div class="d-flex align-items-center">
                                                    <div class="d-flex align-items-center">
                                                        <span class="d-flex justify-content-center align-items-center me-3 rounded-circle text-white step">3</span>
                                                        <span class="step-text">Ahora selecciona el rango horario de la reserva</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group col-6">
                                                <label for="timepicker_from">Desde</label>
                                                <select class="form-control" id="timepicker_from" th:field="*{horarioInicio}">
                                                    <option value="" disabled selected>--</option>
                                                    <option th:each="option : ${totalHours}" th:value="${option}" th:text="${option}">
                                                    </option>
                                                </select>
                                            </div>


                                            <div class="form-group d-none col-6" id="timepicker_until_container">
                                                <label for="timepicker_until">Hasta</label>
                                                <select class="form-control" id="timepicker_until" th:field="*{horarioFin}">
                                                    <option value="" disabled selected>--</option>
                                                    <option th:each="option : ${totalHours}" th:value="${option}" th:text="${option}">
                                                    </option>
                                                </select>
                                                <p class="text-danger" id="hourErrorUntil"></p>
                                            </div>
                                            <p class="text-danger" id="hourError"></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row step-form">
                                    <div class="col-12 d-none" id="container-go-reserva">
                                        <button class="btn btn-block" id="goToReservation" type="Submit">¡Iniciar la reserva!</button>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <p th:if="${error != null}" class="alert alert-danger mt-5" th:text="${error}">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script th:inline="javascript">
            var totalHours = [[${ totalHours }]];
            var latitudGarage = [[${ garage.latitud }]];
            var longitudGarage = [[${ garage.longitud }]];
            var idGarage = [[${ garage.id }]];

        </script>
        <script type="text/javascript" th:src="@{/js/crear-reserva.js}"></script>
        <script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>


    </body>

</html>